{% extends 'index.html' %}
{% load rest_framework %}

{% block content %}
<div>

    {% if is_bills %}
    <div>Bills upload</div><br>
    <form action="{% url 'upload_bills' %}"\
          method="post"
          enctype="multipart/form-data">      
          {% csrf_token %}

          <label for="bills"{{ label }}></label>
          <input type="file" name="bills">

        <button type="submit">Send</button>
        
    </form><br>

    {% else %}
    <div>Clients and organizations upload</div><br>
    <form action="{% url 'upload_clients_organizations' %}"\
          method="post"
          enctype="multipart/form-data">      
          {% csrf_token %}

          <label for="client_org"{{ label }}></label>
          <input type="file" name="client_org">

        <button type="submit">Send</button>
        
    </form><br>
    {% endif %}

    {% if upload_resp %}
    <div>Uploaded data count: </div>
    <ul>
        {% for key, value in upload_resp.items %}
        <li>{{key}}: {{value}}</li>
        {% endfor %}
    </ul>
    {% endif %}

</div>
{% endblock %}
